<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Fully enable/disable the tweak.</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.lint.undelete.prefs.changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.undelete.prefs</string>
			<key>key</key>
			<string>isEnabled</string>
			<key>label</key>
			<string>Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Enabled Applications</string>
			<key>footerText</key>
			<string>To enable/disable, restart the app.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.lint.undelete.prefs.changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.undelete.prefs</string>
			<key>key</key>
			<string>isAlienBlueEnabled</string>
			<key>label</key>
			<string>Enable Alien Blue</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>app_icons/AlienBlue.png</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.lint.undelete.prefs.changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.undelete.prefs</string>
			<key>key</key>
			<string>isAntennaEnabled</string>
			<key>label</key>
			<string>Enable Antenna</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>app_icons/Antenna.png</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.lint.undelete.prefs.changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.undelete.prefs</string>
			<key>key</key>
			<string>isApolloEnabled</string>
			<key>label</key>
			<string>Enable Apollo</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>app_icons/Apollo.png</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.lint.undelete.prefs.changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.undelete.prefs</string>
			<key>key</key>
			<string>isBaconReaderEnabled</string>
			<key>label</key>
			<string>Enable BaconReader</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>app_icons/BaconReader.png</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.lint.undelete.prefs.changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.undelete.prefs</string>
			<key>key</key>
			<string>isBeamEnabled</string>
			<key>label</key>
			<string>Enable Beam</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>app_icons/Beam.png</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.lint.undelete.prefs.changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.undelete.prefs</string>
			<key>key</key>
			<string>isNarwhalEnabled</string>
			<key>label</key>
			<string>Enable Narwhal</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>app_icons/Narwhal.png</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.lint.undelete.prefs.changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.undelete.prefs</string>
			<key>key</key>
			<string>isRedditEnabled</string>
			<key>label</key>
			<string>Enable Reddit</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>app_icons/Reddit.png</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.lint.undelete.prefs.changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.undelete.prefs</string>
			<key>key</key>
			<string>isSlideEnabled</string>
			<key>label</key>
			<string>Enable Slide</string>
			<key>hasIcon</key>
			<true/>
			<key>icon</key>
			<string>app_icons/Slide.png</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Enable or disable undelete option appearing only on deleted/removed comments and posts.</string>
			<key>label</key>
			<string>visibility</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.lint.undelete.prefs.changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.lint.undelete.prefs</string>
			<key>key</key>
			<string>isTFDeletedOnly</string>
			<key>label</key>
			<string>Deleted comments/posts only</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>In Apollo, show undelete option on the comment cell rather than in the action menu.</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.lint.undelete.prefs.changed</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.lint.undelete.prefs</string>
			<key>key</key>
			<string>shouldApolloHaveButton</string>
			<key>label</key>
			<string>Show button in Apollo</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>The number of seconds before the request to pushshift will timeout and return an error.</string>
			<key>isStaticText</key>
			<true/>
			<key>label</key>
			<string>Request timeout (seconds)</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.lint.undelete.prefs.changed</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>10</integer>
			<key>defaults</key>
			<string>com.lint.undelete.prefs</string>
			<key>key</key>
			<string>requestTimeoutValue</string>
			<key>max</key>
			<string>60</string>
			<key>min</key>
			<string>5</string>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Displays how far behind the ingest is (i.e. how long ago the most recently archived comment and post were created).</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Check Latest Ingest Times</string>
			<key>action</key>
			<string>checkLatest:</string>
		</dict>
	</array>
	<key>title</key>
	<string>TFDidThatSay?</string>
</dict>
</plist>
